{# src/AALP/BookingBundle/Resources/views/Accommodation/edit.html.twig #}

{% extends "AALPBookingBundle::layout.html.twig" %}

{% block aalpbooking_body %}

  <h2>Modifier le logement  </h2>

  {{ include("AALPBookingBundle:Accommodation:form.html.twig") }}

{% endblock %}